<h3>Airline Management System</h3>
<div>
    <a routerLink='createFlight'>Create Flight</a>
    <a routerLink='modifyFlight'>Modify Flight</a>
    <a routerLink='deleteFlight'>Delete Flight</a>
    <a routerLink='viewFlight'>View Flight</a>
    
    <hr/>
    <div class="container">
    <b>Note:</b>
    <ol>
        <li><b><i>Create Flight </i></b>link allow to add new Airline Provider information (i.e
        Provider Name, Provider code and Provider Type).</li>
        <li><b><i>Modify Flight </i></b>link is used to modify the existing Airline Provider details
        (Eg: Provider Type)</li>
        <li><b><i>Delete Flight </i></b>link is used to delete the existing Airline Provider.</li>
        <li><b><i>View Flight</i></b> link gives the details of the existing Airline Providers.</li>
        <li>Provide appropriate title to the page</li>
    </ol>
    </div>
</div>